<!DOCTYPE html>
<html>
	<head>
		<style>
			body{
				background-color: #fcfcfc;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	<body>
		<div id="impress">
			<div class="step box" data-x="0" data-y="0">
				<p style="color:blue;">Hello world, I'm  the first slide!</p>
				<p>Press Arrow Keys to move: <br>1. Right for the next slide <br>2. Left for the previous slide</p>
			</div>
			<div class="step box" data-x="0" data-y="800" data-rotate-y="90" style="color:red;">
				<p>Duo Lingo ~ Second slide reporting sir!</p>
				<p>I <strong>rotate 90 degrees along Y AXIS</strong> per transition!</p>
			</div>
			<div class="step box" data-x="4000" data-y="0" data-z="-5000" data-rotate="90" data-scale="4" style="color:green;">
				<p>Third side here ;)</p>
				<p>I'm scaled up by  <strong>4</strong> times!!</p>
				<p>And what's more , I'm <strong>being rotated along Z AXIS By 90 degrees</strong></p>
			</div>
		</div>
		<script src="../js/impress.js"></script>
		<script>
			impress().init();
		</script>
	</body>
</html>
