<!DOCTYPE html>
<html>
	<head>
		<style>
			body{
				background-color: #fcfcfc;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	<body>
		<div id="impress">
			<div class="step box" data-x="0" data-y="0">
				<p style="color:blue;">Hello world, I'm  the first slide!</p>
				<p>Press Arrow Keys to move: <br>1. Right for the next slide <br>2. Left for the previous slide</p>
			</div>
			<div class="step box" data-x="0" data-y="800" style="color:red;">
				<p>Duo Lingo ~ Second slide reporting sir!</p>
				<br>
				<p><b>Hover</b> over me to see the magic!!!</p>
			</div>
			<div class="step box" data-x="4000" data-y="0" data-z="-5000" style="color:green;">
				<p>Third side here ;)</p>
			</div>
		</div>
		<script src="../js/impress.js"></script>
		<script>
			impress().init();
		</script>
	</body>
</html>
